body {
            background-color: #2F3136;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        .container {
            background-color: white;
            padding: 20px;
            border-radius: 0.5rem;
            max-width: 400px;
            width: 100%;
        }

        h1 {
            display: flex;
            justify-content: center;
        }

        input {
            width: 100%;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 15px;
            margin-bottom: 2vh;
            font-size: 15px;
            box-sizing: border-box;
            outline: none;
        }

        button {
            width: 100%;
            background-color: black;
            color: white;
            padding: 15px;
            border: none;
            border-radius: 15px;
            cursor: pointer;
        }

        button:hover {
            background-color: #333;
        }