body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #000000;
    color: white;
}
/*server side*/
.server-side {
    width: 60px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.server-side span {
    display: inline-block; /* Ensure the span behaves as a block to rotate it */
    transform: rotate(-90deg); /* Rotate the text 90 degrees counterclockwise */
    color: white; /* Optional: Change text color for better visibility */
    font-size: 60px; /* Optional: Adjust font size as needed */
    white-space: nowrap; /* Prevent the text from wrapping */
    margin-top: 40vh
}
.icon-container {
    display: flex;
    width: 40px;
    height: 40px;
    border:#72767D;
    background-color: rgb(45,51,69);
    border-radius: 50%;
    align-items: center;
    justify-content: center ;
    margin: 5px 0px;
}
.server-side .smaller-icon{
    width: 20px;
    height: 20px;
    margin: 10px 0;
    border-radius:50%;
}
.server-side img {
    width: 40px;
    height: 40px;
    margin: 10px 0;
    border-radius: 50%;
}
.dividing-line{
    margin-top: 10px;
    width: 40px;
    height: 1px;
    background-color: grey;
    border-radius: 50%;
}
/*when server be selected*/
.selected-server {
    width: 60px;
    display: flex;
    align-items: center;
    position:relative;
}
.server-side .selected-server-img{
    border:solid white;
    
}
.selected-line {
    width: 2px;
    background-color: white;
    height: 30px;
    position: absolute;
    border-radius: 0% 50% 50% 0%;
    left: 0;
}
.server-side .selected-server-img{
    margin-left: 10px;
}

/*channel-side*/
.channel-side {
display: flex;

border-radius: 5px 5px 0 0; 
overflow: hidden; 
width: 100%; 
}
.dividing-line-channel {
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: rgb(33, 40, 44);
    border-radius: 50%;
    
}
.title-live-now{
    font-weight: 400;
    font-size: 13px;
}
.live-now-container-header{
    display: flex;
    margin-top: 10px;
    position: relative;
}
.live-now-container{
    display: flex;
    flex-direction: column;
    
}
.listen-in-button{
    margin-top: 10px;
    position: relative;
    align-self: center;
    justify-content: center;
    background-color: green;
    border:none;
    border-radius:5px;
    width: 90%;
    height: 30px;
}
.button-text {

    font-size: 12px;
    color: white;
}
.green-point {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: greenyellow;
    margin-right: 5px;
}
.avatar-green-point {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: greenyellow;
    margin-right: 5px;
    position:absolute;
    bottom:5px;
    left: 37px;
}
.live-now-font{
    color:greenyellow;
    font-size: 12px;
    font-weight: 500px;
}

/* Channel List */
.icon-authentication {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.channel-header-container {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position:relative
}
.pull-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
}
.channel-list {
    width: 220px;
    background-color: #2F3136;
    position:relative;
    
}
.channel-header {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
}
.channel {
    margin: 10px 0;
    padding: 10px; /* 增加内边距，使内容不至于贴边 */
    color: #B9BBBE;
    cursor: pointer;
    border-radius: 5px; /* 圆角效果 */
    transition: background-color 0.3s, color 0.3s; /* 平滑过渡效果 */
}

.channel:hover {
    background-color: #7e88a0; /* 悬停时的背景色 */
}

.channel.active {
    color: white;
    background-color: #36393F; /* 选中时的背景色 */
    border-radius: 5px; /* 确保选中状态的圆角 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* 添加阴影以突出显示 */
}
/* Chat Area */
.chat-area {
    flex-grow: 1;
    background-color: #36393F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.chat-header {
    background-color: #2F3136;
    padding: 10px;
    font-size: 22px;
    color: rgb(179, 187, 197);
    border-bottom: 1px solid #23272A;
    display: flex;
    align-items: center;
    position: relative;
}

.chat-messages {
    padding: 20px;
    flex-grow: 1;
    overflow: hidden;
    scrollbar-color: #36393F rgb(179, 187, 197);
    scrollbar-width: thin;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .message {
    margin-bottom: 15px;
    height: 80vh;
    overflow:scroll;
    overflow-x:hidden;
} */

/* Message Input */
.message-input {
    background-color: #40444B;
    padding: 3px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    margin-bottom: 10px;
}

.message-input input {
    width: 100%;
    padding: 10px;
    background-color: #303338;
    outline: none;
    border: none;
    color: white;
    border-radius: 3px;
}

.message .timestamp {
    font-size: 10px;
    color: #72767D;
}

.message-input input::placeholder {
    color: #72767D;
}

/* Parent container for message-list and client-list */
.chat-content {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: calc(100% - 10vh); 
    overflow: hidden; 
    margin-top: 10px;
}

/* Message list styling to occupy most of the space */
.message {
    grid-area:main;
    height: 100%; 
    overflow-y: auto;
    padding: 10px;
    border-right: 1px solid #23272A;
}

/* Client list styling to occupy less space */
.client-list {
    grid-area:client;
    overflow-y: auto;
    padding: 10px 15px; 
    background-color: #2F3136; 
    border-left: 1px solid #23272A; 
    scrollbar-color: #36393F rgb(179, 187, 197);
    scrollbar-width: thin;
    color: #B9BBBE; 
    font-size: 14px;
}

/* Improved styling for client list items */
.client-list-item {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.client-list-item:hover {
    background-color: #36393F;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Client list header for better distinction */
.client-list-header {
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}


/* Default (non-active) state */
.show-clients {
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Hover effect */
.show-clients:hover {
    background-color: #7e88a0;
}

/* Active state */
.show-clients.active {
    background-color: #36393F;
    transform: scale(1.3); /* 放大元素 */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.chat-box {
    width: 40%;
    height: 60%;
    background-color: #1a1f27;
    border-radius: 10px;
    position: absolute;
    top: 20px+3%;
    left: 180px+3%;
    z-index: 10;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "header header"
    "main client"
    "input checkbox";
    gap: 13px;
}

.checkbox {
    grid-area: checkbox;
    display: flex;
    flex-direction: column; /* 让 label 和内容垂直排列 */
    justify-content: center;
    align-items: center;
}

.checkbox-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}

.checkbox-item {
    display: flex;
    align-items: center;  /* 确保 input 和 label 垂直居中对齐 */
    margin-right: 10px;   /* 可选：为每个选项之间添加一些间距 */
}

.checkbox-item label {
    font-size: 10px;
    margin-left: 5px;    /* 确保 label 和 input 之间有间距 */
}



.chat-box-header {
    grid-area: header;
    height: 5vh;
    background-color: #5b5e68;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    cursor: move;
}

.chat-box-title {
    flex: 1;
    font-size: 16px;
    color: #ffffff;
    margin-right: 10px;
}

.header-input {
    flex: 2;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #40444B;
    color: #ffffff;
    font-size: 14px;
    margin-right: 10px;
}

.header-input::placeholder {
    color: #b9bbbe;
}

.chat-box-header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chat-box-header-buttons i {
    margin-left: 5px;
    cursor: pointer;
}

.message-Input-Area{
    grid-area: input;
}

.chat-box-header-buttons {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

.chat-box-header-buttons i {
    margin-left: 3px; 
    cursor: pointer; 
}

.chat-box-h-index{
    z-index: 999;
}

.chat-box-hidden { 
    display: none;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 0.5rem;
    max-width: 400px;
    margin: 0 auto;
    
}

.login-container h1 {
    display: flex;
    justify-content: center;
    color:#1a1f27  
}

.login-container input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 2vh;
    font-size: 15px;
    box-sizing: border-box;
    outline: none;
}

.login-container button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #333;
}

.message-input input:focus{
    outline: 2px solid #4A90E2;
    outline-offset: 2px;
}
.checkbox {
    border: none;
}